dump/
/__pycache__/
/logs/
/virtual/
*.pyc
outputs/
*.log
/uploads/
/vector_db/
/examples/
*.mp4
*.wav
*.mp3
*.jpg
*.png
*.jpeg
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/