fastapi
uvicorn[standard]
python-multipart
aiofiles
pydantic
ffmpeg-python
opencv-python
pydub
librosa
soundfile
Pillow
openai-whisper
transformers
sentencepiece
accelerate
torch
bitsandbytes
numpy<2.0
chromadb
sentence-transformers
gtts
edge-tts
sounddevice
scipy
python-dotenv




fastapi
uvicorn[standard]
pydantic-settings
ffmpeg-python
opencv-python
pydub
librosa
soundfile
openai-whisper
numpy<2.0
chromadb
sentence-transformers
transformers
sentencepiece
accelerate
bitsandbytes
Pillow
python-dotenv
aiofiles
googletrans==4.0.0rc1
deep-translator
gtts
edge-tts
python-multipart
sounddevice
scipy